{
    "singleQuote": true,
    "bracketSameLine": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.config.ts", "*.config.js", "*.config.mjs", "*.json", "*.yaml", "*.yml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
